<div class="graph-tiles">

  <div id="controls-tile" class="tile controls-tile">
    <a href="#"><div class="date-toggle-left">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </div></a>

    <div class="controls-header">
      <a href="#" class="controls-date-link"><p class="controls-date">Today</p></a>
    </div>

    <a href="#"><div class="date-toggle-right">
      <i class="glyphicon glyphicon-chevron-right"></i>
    </div></a>
  </div>

  <div id="cals-tile" class="tile calories-tile">
  </div>

  <div id="steps-tile" class="tile steps-tile">
  </div>
</div>


<div class="sidebar-tiles">
  <div id="users-tile" class="tile users-tile">
    <div class="user-header">
      <h3><%= user.escape('fname') %> <%= user.escape('lname') %></h3>
      <h4><%= user.escape('username') %></h4>
    </div>

    <div class="user-info">

      <ul>
        <li><%= user.escape('age') %> years old</li>
        <li><%= user.escape('sex') === 'm' ? 'Male' : 'Female' %></li>
        <li><%= parseInt(user.escape('height') / 12) %>' <%= user.escape('height') % 12 %>"</li>
        <li><%= user.escape('weight') %> lbs.</li>
        <li>Sits ~<%= parseFloat(user.escape('daily_avg')).toFixed(1) %> hours daily</li>
      </ul>

    </div>
  </div>

  <div id="form-tile" class="form-tile">

  </div>

  <div id="leader-tile" class="tile leader-tile">

    <div class="leaderboard">
      <div class="leaderboard-header">
        <h4>Top Squatters</h4>
      </div>

      <ul>
        <% for (i = 0; i < 8; i++) { %>
            <% if (users.models[i]) { %>

              <% var isMe = '' %>
              <% if (users.models[i].escape('id') == Sitbit.CURRENT_USER.id) { isMe = 'current-user' } %>

              <a href="#users/<%= users.models[i].escape('id') %>">
                <li class="<%= isMe %>">
                  <div class='leader-name'><%= users.models[i].escape('username') %></div>
                  <div class='score'><strong><%= users.models[i].escape('daily_avg') %></strong> hrs/day</div>
                </li>
              </a>
            <% } %>
        <% } %>
      </ul>
    </div>

  </div>
</div>
